<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            </button>
            <a class="navbar-brand" href="#/ctool">CTOOL</a>
        </div>
    </div>
</nav>

<div class="login-container sap-form">
    <form class="form-signin content" name="loginForm">
    <h2 class="form-signin-heading">Login</h2>
    <label for="username" class="sr-only">User Name</label>
    <input type="text" id="username" class="form-control" name="username" 
           placeholder="User Name" required="" autofocus=""
           ng-model="loginUser.username">

    <span class="error" ng-show="loginForm.username.$touched && loginForm.username.$invalid">User name is required.</span>

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" 
           class="form-control" placeholder="Password" required=""
           ng-model="loginUser.password" name="password">

    <span class="error" ng-show="loginForm.password.$touched && loginForm.password.$invalid">Password is required.</span>

    <button class="sap-btn sap-btn-primary btn-block" ng-click="login()">Sign in</button>
    </form>
</div>
</div>

<footer class="footer">
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 ">
        <label>v6.6.6 &copy; 2012 SAP SMS 365 Inc. All rights reserved</label>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
  
</footer>


<div class="modal fade" id="errorAlert" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Error Occurred</h4>
        </div>
        <div class="modal-body">
          <p>Some error has occurred. </p>
          <p>Please try again after some time.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>