            <table class="CTOOL-table table table-bordered table-stripped form-group ">
                <tbody>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Requester</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">Venkat</td>
                </tr>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Account Manager</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <select class="form-control" id="sel1">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>

                    </td>
                </tr>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Company</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                        <div class="row">
                            <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <select class="form-control" id="sel2">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Billing Location</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <select class="form-control" id="sel3">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Service Level</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                <select class="form-control" id="sel4">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Traffic Type</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                <select class="form-control" id="sel5">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Revenue Sharing</th>
                    <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">No</td>
                </tr>
                
                </tbody>
            </table>

            <br>
            <button class="btn btn-primary" ng-click="showNextTables(!showNextFlag)" ng-if="!showNextFlag">Next</button>
