<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            </button>
            <a class="navbar-brand" href="#/shital">CTOOL</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Accounts <span class="sr-only">(current)</span></a></li>
                <li><a href="#/shital">Connections</a></li>
                <li><a href="#/shital">Operators</a></li>
                <li><a href="#/shital">Miscelleneous</a></li>
                <li><a href="#/shital">Toolbox</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/shital">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div ng-controller="ctoolController"> 
    <section>
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 ">
            <h3>Create Account</h3>
            <hr/>

            <h4>Commercial Information</h4>
            <commercial-information></commercial-information>


            <br>
            <button class="btn btn-primary" ng-click="showNextTables(!showNextFlag)" ng-if="!showNextFlag">Next</button>

            <div ng-class="getTables" id="second-level">
                <h4> Technical Details</h4>
                <hr />
                
                <technical-contact></technical-contact>

                <br />
                <h4>Account Name and Interfaces</h4>
                <hr />
                <account-names></account-names>                

                <button class="btn btn-primary" ng-click="showNextTables(!showNextFlag)">Back</button>
                <button class="btn btn-primary">Next</button>
            </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>

    </section>
</div>