<table class="CTOOL-table table table-bordered table-stripped form-group ">
    <tbody>
    <tr>
        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Exsiting Company Contracts</th>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">                            
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <select class="form-control" id="sel6">
                        <option>select existing</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    or                             
                    <a>
                        create new
                    </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Name</th>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-11 col-xs-10">
                    <input class="form-control" type="text"></input>
                </div> (NEW)
            </div>
        </td>
    </tr>
    <tr>
        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Email</th>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control" type="email"></input>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Country</th>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <select class="form-control" id="sel7">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Mobile Phone Number</th>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input class="form-control" type="text"></input>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <th class="col-md-3 col-sm-3 col-lg-3 col-xs-3">Direct Phone Number</th>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control" type="text"></input>
                </div>
            </div>
        </td>
    </tr>
    
    </tbody>
</table>