<div ng-if="!showNextFlag">
    <table class="CTOOL-table table table-stripped table-condensed form-group ">
        <tbody>
        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Requester</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label> {{json.requester}}</label></td>
        </tr>
        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label> Account Manager</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" id="sel1"
                                    ng-options="opt.name for opt in commercial.users" 
                                    ng-model="json.acctMgr"></select>
                        </select>                                        
                                    <!--<span>{{opt.name}}</span>                    -->
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label> Company</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                <div class="row">
                    <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <select class="form-control" id="sel2"
                                ng-model="json.company">
                                <option ng-repeat="option in commercial.company">{{option}}</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label> Billing Location</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <select class="form-control" id="sel3"
                                ng-model="json.billingLocation">
                            <option ng-repeat="option in commercial.billingLocation">{{option}}</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Service Level</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        <select class="form-control" id="sel4"
                                ng-model="json.serviceLevel">
                            <option ng-repeat="option in commercial.serviceLevel">{{option}}</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Traffic Type</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                        <select class="form-control" id="sel5"
                                ng-model="json.trafficType">
                            <option ng-repeat="option in commercial.trafficType">{{option}}</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Revenue Sharing</label></td>
            <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>No</label></td>
        </tr>
        
        </tbody>
    </table>

    <br>
    <button class="sap-btn sap-btn-primary" ng-click="showNextTables(!showNextFlag)">Next</button>
</div>

<table class="CTOOL-table table table-stripped table-condensed form-group" ng-if="showNextFlag">
    <tbody>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Requester</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>{{json.requester}}</label></td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Account Manager</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>{{json.acctMgr.name}}</label></td>
    </tr>

    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Company</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>{{json.company}}</label></div>
        </td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Billing Location</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>{{json.billingLocation}}</label></td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Service Level</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>{{json.serviceLevel}}</label></td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Traffic Type</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>{{json.trafficType}}</label></td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Revenue Sharing</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9"><label>No</label></td>
    </tr>
    
    </tbody>
</table>
