<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container-fluid">
       <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            </button>
            <a class="navbar-brand" href="#/ctool">CTOOL</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/ctool">Accounts <span class="sr-only">(current)</span></a></li>
                <li><a href="#/ctool">Connections</a></li>
                <li><a href="#/ctool">Operators</a></li>
                <li><a href="#/ctool">Miscelleneous</a></li>
                <li><a href="#/ctool">Toolbox</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-href="#/login/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div ng-controller="ctoolController" class='sap-form'> 
    <section>
        <form name="ctoolControllerForm">
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 ">
                <div class='content'>
                    <h3 class="page-heading">Create Account</h3>
                    <div class="hr-extended"></div>

                    <h4 class="breadcrumbs">Commercial Information</h4>
                    <commercial-information></commercial-information>

                </div>

                <div ng-class="getTables" id="second-level">
                    <div class='content'>
                        
                        <h4  class="breadcrumbs"> Technical Details</h4>
                        <!--<div class="hr-extended"></div>-->
                        
                        <technical-contact></technical-contact>
                    </div>

                    <div class='content'>
                    
                        <h4  class="breadcrumbs">Account Name and Interfaces</h4>
                        <!--<div class="hr-extended"></div>-->
                        <account-names></account-names>                


                        <button class="sap-btn sap-btn-primary" ng-click="showNextTables(!showNextFlag)">Back</button>
                        <button class="sap-btn sap-btn-primary">Next</button>

                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
        </form>
    </section>
</div>

<footer class="footer">
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 ">
        <label>v6.6.6 &copy; 2012 SAP SMS 365 Inc. All rights reserved</label>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
  
</footer>