<table class="CTOOL-table table table-condensed table-stripped form-group ">
    <tbody>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Exsiting Company Contacts</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">                            
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" id="sel6"
                            ng-options="contact as contact.contactName for contact in technical.contacts"
                            ng-model="json.contact" ng-change="updateTechnicalDetails()">
                    </select>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <label>or</label>                             
                    <a>
                        create new
                    </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Name</label><sup class="required">&nbsp;*</sup></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
                    <input class="form-control" type="text" name="name" required="Please enter name." ng-model="json.contact.name"></input>
                    <span class="error" ng-show="ctoolControllerForm.name.$touched && ctoolControllerForm.name.$invalid">Please enter name.</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-1 col-xs-12"><label>(NEW)</label></div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Email</label><sup class="required">&nbsp;*</sup></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control" type="email" name="email" ng-model="json.contact.email" required></input>
                    <span class="error" ng-show="ctoolControllerForm.email.$touched && ctoolControllerForm.email.$invalid">
                        Please enter valid email.
                    </span>                    
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Country</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <select class="form-control" id="sel7" ng-model="json.country">
                            <option ng-repeat="option in country">{{option}}</option>                        
                    </select>
            </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Mobile Phone Number</label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input class="form-control" type="text" ng-model="json.contact.mobilePhoneNumber"></input>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="col-md-3 col-sm-3 col-lg-3 col-xs-3"><label>Direct Phone Number<label></td>
        <td class="col-md-9 col-sm-9 col-lg-9 col-xs-9">
            <div class="row">
                <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <input class="form-control" type="text" ng-model="json.contact.directPhoneNumber"></input>
                </div>
            </div>
        </td>
    </tr>
    
    </tbody>
</table>